/* src/NestedCircles.css */

body {
  background-color: #f0f8ff; /* Alice Blue background color */
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.circle-input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #008cba;
  border-radius: 5px;
  outline: none;
  width: 200px;
  text-align: center;
  margin-bottom: 20px;
}

.rectangle {
  width: 300px;
  height: 300px;
  border: 2px solid #008cba;
  border-radius: 10px;
  background-color: #ffffff; /* White background color */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.circles-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  border: 2px solid #008cba;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 140, 186, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
